#comments{
    margin-top: 20px;
    max-width: 700px;
}
#mainbody{
    padding-left: 5px;
}
div.root_comment{
    margin-bottom: 10px;
    word-wrap: break-word;
    position: relative;
}
.comment_user_image{
    width: 30px;
    position: absolute;
    top: 2px;
    overflow: hidden;
    height: 30px;
    display: inline-block;
    left: 5px;
    float:left;
}
div.comment{
    margin-left: 35px;
    margin-bottom: 10px;
    margin-top: 13px;
    word-wrap: break-word;
    position: relative;
    transition: background-color 2s ease 0s;
}
.comment_container{
    margin-left: 40px;
    position: relative;
    top: -5px;
}
.comment .comment_border{
    margin-top:9px;
}
.comment[level='2']{
}
.comment[level='6']{
    margin-left:0;
}
span.comment_author{
    color:darkgrey;
}
span.comment_post_author a{
    color: #2026a9 !important;
}
span.comment_author a{
    text-decoration: none;
}
.comment_add_date{
    opacity:0.5;
}
div.comment_text{
    color: #333;
    min-height: 20px;
    font-size: 17px;
    font-family: "Helvetica Neue",arial,sans-serif;
}
.comment_text a{
    color: #5190b8;
}
.comment_text img{
    max-width: 300px;
    max-height: 300px;
}
.comment_text:empty{
    height: 8px;
    min-height: 0;
}
.comment_image{
}
.comment .gif_play_button{
    width: 140px;
    position: absolute;
    top: calc(50% - 70px);
    left: calc(50% - 70px);
    z-index: 300;
    cursor: pointer;
    opacity:0.6 ;
}
.comment_buttons{
    margin-top: 3px;
    font-size: 0.8em;
    margin-bottom: 10px;
}
.comment_buttons .comment_rating{
    opacity: 0.5;
}
span.comment_respond{
    font-size: 13px; 
    color:dodgerblue;
}
span.comment_delete{
    color: red;
    margin-left: 10px;
    cursor: pointer;
}
span.comment_respond:hover{
    cursor: pointer;
}
#add_comment_div{
    margin-top: 30px;
 }
#add_comment_div span{
    margin-bottom: 20px;
}
#add_comment_div form{
    margin-top:15px;
}
#add_comment_div textarea{
    width: 80%;
    height: 80px;
    border-radius: 5px;
    border: 1px solid RGBA(114, 114, 114, 0.48);
    padding: 4px;
    font-size: 16px;
}
#add_comment_div input{
}
#add_comment_div #submit_button{
    border: none;
    padding: 5px 20px;
    vertical-align: top;
    margin-top: 10px;
    cursor: pointer;
    background-color: rgb(62, 116, 210);
    color: white;
    border-radius: 5px;
}
#add_comment_div #load_image_button{
    border: none;
    padding: 5px 20px;
    vertical-align: top;
    margin-top: 10px;
    cursor: pointer;
    margin-right: 25px;
    background-color: rgb(16, 170, 29) !important;
    color:white;
    border-radius: 5px;
}
#add_comment_div .warning{
    color: red;
    display: none;
}
#add_comment_div .comment_image_preview_delete,#add_comment_respond .comment_image_preview_delete{
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    left: 184px;
    z-index: 200;
    background-size: cover;
    cursor: pointer;
    background-image: url('/images/icons/delete-icon.png');
}
.add_comment_respond{
}
.add_comment_respond textarea{
    width:30%;
    height: 100px;
}
.single_comment{
    margin-bottom: 20px;
    border-bottom: 1px solid grey;
}
.single_comment .comment_text{
    font-size: 1.5em;
}
.single_comment  img{
    max-width: 400px;
    max-height: 400px;
}
.single_comment .comment_link{
}
.single_comment .comment_link a{
    text-decoration: none;
    color: #E62213;
}
.comment_rating span{
    text-decoration: underline;
    cursor: pointer;
    margin-right: 10px;
}
.comment_rating .upvote{
}
.comment_buttons span{
    border-radius: 5px;
}
.comment_buttons .upvoted .comment_upvote{
   /* background-color: #61EA46 !important;*/
    padding: 4px 6px;
}
.comment_buttons .downvoted .comment_downvote{
    background-color: #80EFFC !important;
    padding: 4px 6px;
}
.ajax_comment{
    background-color: lemonchiffon;
}
.comment_container .comment_image_container{
    position: relative;
    display: inline-block;
}
.comment_container .comment_image_container .gif_play_button,.single_comment .comment_image_container .gif_play_button{
    position: absolute;
    width: 10%;
    max-width: 100px;
    min-width: 50px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    cursor: pointer;
}
.single_comment .comment_image_container{
    display: inline-block;
    overflow: hidden;
    position: relative;
}