#header_container{
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 50px;
    top:0;
}
#header{
    position: relative;
    background-color: rgba(108, 142, 201, 0.93);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    top:0;
    height: 50px;
    min-width: 720px;
    margin:0 auto;
    width:80%;
    max-width: 1250px;
    left: -89px;
}
#header .menu{
    font-size: 30px;
    display: inline-block;
    cursor:pointer;
    margin: 11px;
    color: white;
    text-decoration: none;
}
#header .menu span {

}
#header #find{
    float: left;
    position: relative;
    top: 0%;
    width: 402px;
    height: 100%;
    margin-left: 20px;
}
#header #find #title{
    text-decoration: none;
    margin:10px;
    font-size: 28px;
    position: relative;
    top:6px;
    color:white;
    font-family: "Proxima Nova Regular","Segoe UI",Roboto,"Droid Sans","Helvetica Neue",Arial,sans-serif;
}
#header #search_form{
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 3px;
}
#header #find #find_text{
    height: 29px;
    position: relative;
    top: 7px;
    width:250px;
    border: none;
    background-color: white;
    border-radius: 14px;
    padding-left: 33px;
    font-size: 18px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;
}
#header #find #find_button{
    height: 32px;
    background: url("/images/icons/search-icon.png") no-repeat scroll 0% 0% / contain transparent;
    display: inline-block;
    width: 32px;
    position: absolute;
    top: 6px;
    cursor:pointer;
    z-index: 2000;
}
#header_mobile{
    display: none;
}
.mobile_menu{
    display: none !important;
}
@media(max-width: 1300px){
    #header{
        left:0;
    }
}
@media (min-width: 1300px) and (max-width:1600px){
    #header{
        left:-50px;
    }
}