img{
  max-width:100%;
}
#insert_form{
    max-width:700px;
}
.insert_form_item{
    margin-top:15px;
    position: relative;
}
.error_message{
    color: #F00;
    display: block;
    margin-bottom: 10px;
    font-size: 17px;
    font-family: proxima-nova,sans-serif;
    margin-top:5px;
}
.error_message:empty{
    display: none;
}
.insert_form_item input,textarea{
    margin-bottom: 10px;
    width: 98%;
    height: 30px;
    font-size: 18px;
    border-radius: 3px;
    border: 1px solid #C6C6C6;
    padding-left: 8px;
    background-color:white;
    overflow-y: hidden;
}
textarea{
    padding-top: 10px;
    font-family: "Proxima Nova Regular","Segoe UI",Roboto,"Droid Sans","Helvetica Neue",Arial,sans-serif;
    color: black;
    resize:vertical;
}
#insert_form input:focus, #insert_form textarea:focus{
    border: 1px solid #43D282;
}
#insert_form button[type='submit']{
    background-color: #79C36C;
    box-shadow: 0px 2px 0px #49B736;
    border: medium none;
    font-size: 20px;
    border-radius: 10px;
    width: 100%;
    font-family: "Apercu Medium","Helvetica Neue",Helvetica,Arial,sans-serif;
    color:white;
    text-transform: uppercase;
    padding-top: 3px;
    cursor: pointer;

}
.insert_form_item textarea{
    height: 150px;
}
#post_type{
    border-bottom: 1px solid rgb(222, 222, 222);
    width: 97%;

}
.post_type_item{
    display: inline-block;
    height: 30px;
    font-size: 20px;
    margin: 0px 60px;
    cursor: pointer;
}
.post_type_item_selected{
    border-bottom: 2px solid green;
}
.post_type_container{
    text-align: center;
}
#complex_text{
    height: 450px;
    border: 1px solid rgba(0, 0, 0, 0.16);
    overflow-y: auto;
    padding: 4px;
    word-break: break-all;
    padding-left: 15px;
    position: relative;
    font-size: 20px;
    margin-left: -4px;
}

#add_text_form{
    display: none;
    z-index: 400;
    width:500px;

}
#complex_form .image_file_input{
    display: none;
}
#complex_form form #complex_text .image_container img{
    resize: none;
    width: 100%;
    height: 100%;
}
.image_container{
    overflow: hidden;
    display: inline-block;
    position: relative;
    width: 300px;
    float:left;
    margin: 3px;
    resize: both;
}
.image_container_right{
    overflow: hidden;
    display: inline-block;
    position: relative;
    float:right;
    margin: 3px;
    resize: both;
}
.image_container_center{
    display: block;
    text-align: left;
    resize:vertical;
}
img{
    resize: both;
}
#complex_form form #complex_text .bold{
    font-weight: 300;
    font-size: 28px;
}
#complex_form form #complex_text .center{
    display: block;
    text-align: center;
}
#complex_form form #complex_text .italic{
    font-style: italic;
}
#complex_form form #complex_text .center{
    text-align: center;
}
#complex_form form #complex_text .left{
    text-align: left;
    float: left;
}
#complex_form form #complex_text .right{
    text-align: right;
    float: right;
}
#complex_form form  .sel_text{
    position: absolute;
    display: none;
    width:100px;
    border:1px solid black;
    padding: 2px;
}
#complex_form form  .sel_text span {
    width: 45px;
    display: inline-block;
    border: 1px solid red;
}
#complex_form #text_change_buttons{
    margin-bottom: 10px;
    padding: 5px;
    display: none;
}
#complex_form #text_change_buttons .text_transform_buttons{
    font-weight: bold;
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #E8E8E8;
    text-align: center;
    padding-top: 2px;
    cursor: pointer;
    margin-right: 5px;
    border: none;
    padding-bottom: 2px;
    font-size: 15px;
    vertical-align: top;
}
#complex_form #text_change_buttons #italic_text_button{
    font-style: italic;
    font-weight: normal;
}
#complex_form #text_change_buttons #center_text_button{
    background-image: url("/images/icons/align-center.png");
    background-color: white;
    background-size: cover;
    height: 27px;
}
#complex_form #text_change_buttons #left_text_button{
    background-image: url("/images/icons/align-left.png");
    background-color: white;
    background-size: cover;
    height: 27px;
}
#complex_form #text_change_buttons #right_text_button{
    background-image: url("/images/icons/align-right.png");
    background-color: white;
    background-size: cover;
    height: 27px;
}
#complex_form #text_change_buttons #add_image_button{
    font-weight: bold;
    display: inline-block;
    width: 116px;
    height: 26px;
    background-color: #E8E8E8;
    text-align: right;
    cursor: pointer;
    margin-right: 5px;
    border: medium none;
    font-size: 15px;
    vertical-align: top;
    background-image: url("/images/icons/image_add.png");
    padding: 0;
    background-size: 27px 26px;
    background-repeat: no-repeat;
}
#add_link_window{
    display: none;
    position: fixed;
    top:40%;
    width: 400px;
    z-index: 400;
    border: 1px solid black;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}
#add_link_window input{
    width: 67%;
    margin: 15px 0;
    position: relative;
    left:12%;
    padding-left: 4%;
    border: 2px solid #424242;
}
#add_link_window button{
    background-color: #7CCFBF;
    box-shadow: 0px 2px 0px #57C1AD;
    border: medium none;
    font-size: 20px;
    border-radius: 10px;
    width: 70%;
    left:13%;
    position: relative;
    font-family: "Apercu Medium","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #FFF;
    text-transform: uppercase;
    margin-bottom: 20px;

}
#add_link_window span{
    display: block;
    text-align: center;
    font-size: 1.3em;

}


#long_post{

}
#long_post form{
    margin-bottom:20px;

    padding-bottom: 10px;
    padding-top: 15px;
    padding-left: 5px;
}
#long_post #long_post_empty{
    text-align: center;
    padding: 30px;

    font-size: 20px;

}
#long_post form .video{
    width: 99%;
    margin: 12px auto;
    height: 0px;
    padding-bottom: 56.25%;
    position: relative;
    overflow: hidden;
}
#long_post form .video iframe{
    position: absolute;
}   
#long_post form .coub_video{
    padding-bottom: 41.25%;
    padding-top: 2px;
}
#long_post_buttons{
    text-align: center;
}
#long_post form .video .youtube_image{
    width: 100%;
}
#long_post form .video .youtube_name,#long_post form .video .coub_name{
    font-family:'Roboto,Arial,Helvetica,sans-serif';
    color:white;
    position:absolute;
    top:10px;
    left:20px;
    font-weight: bold;
    font-size: 16px;
}
#long_post form .video .youtube_play,#long_post form .video .coub_play{
    position:absolute;
    width:100px;
    left:calc(50% - 50px);
    top:calc(50% - 50px);
    cursor:pointer;
}
#long_post_buttons .long_post_button{
    display: inline-block;
    font-size: 22px;
    width: 110px;
    height: 36px;
    text-align: center;
    color: #FFF;
    padding-top: 12px;
    border-radius: 9px;
    padding-left: 46px;
    cursor: pointer;
    margin: 12px 20px 12px 0;
}
#long_post_buttons .add_text_button{
    background: rgb(102, 155, 200) none no-repeat scroll 1px 3px / 58px 42px;
    background-image: url('/images/icons/EditText.png');
}
#long_post_buttons .add_image_button{
    background: rgb(102, 155, 200) none no-repeat scroll 12px 8px / 30px 30px;
    background-image: url('/images/icons/image-add-icon.png');
}
#long_post_buttons .add_video_button{
    background: rgb(102, 155, 200) none no-repeat scroll 12px 8px / 30px 30px;
    background-image: url('/images/icons/video-camera-icon.png');
}
#long_post_text_form,#long_post_video_form{
    display: none;
}
#long_post_text_form #long_post_text{
    height: 80px;
    border: 1px solid rgba(120, 120, 120, 0.51);
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
    resize: vertical;
    overflow-y: auto;
}
#long_post_text_form #long_post_text p{
    margin: 0;
}
#long_post_text_form #add_text_long_post,#long_post_video_form #add_video_long_post{
    width: 130px;
    height: 30px;
    background-color: rgb(37, 179, 16);
    border: medium none;
    border-radius: 7px;
    margin-left: 5px;
    cursor:pointer;
    color:white;
}
#cke_long_post_text #cke_11,#cke_long_post_text #cke_17,#cke_long_post_text #cke_22{
    display: none;
}
#long_post .long_post_part{
    position: relative;
    margin-bottom: 10px;
    background:rgba(236, 236, 236, 0.35) none repeat scroll 0% 0%;
    cursor: pointer;
}
#long_post .long_post_part p{

}
#long_post .long_post_part .long_post_delete_button{
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 0px;
    z-index: 200;
    background-size:cover;
    cursor: pointer;
    background-image: url('https://cdn3.iconfinder.com/data/icons/basic-flat-svg/512/svg18-512.png');
}
#cke_long_post_text .cke_button__image2_icon, #cke_long_post_text .cke_button__youtube_icon{
    display: none;
}
.long_post_part.image_uploaded img{
    display: none;
}
.long_post_part.image canvas{
    width:100%;
    display: block;
}
.long_post_part.image .text_overlay{
    position: absolute;
    color: white;
    display: block;
    text-align: center;
    bottom: 10px;
    font-size: 250%;
    background-color: rgba(0, 0, 0, 0.23);
    opacity: 0.3; 
    border: dashed 1px rgb(255, 255, 255);
    margin: 0px auto;
    min-height:45px;
    max-height:15%;
    word-wrap: break-word;
    height:auto !important;
    width: auto;
    display: inline-block;
    max-width: 90%;
    min-width: 200px;
    left:50%;
    transform:translateX(-50%);
}
.text_overlay.top{
    bottom:auto;
    top:20px;
}
.long_post_part.image:hover .text_overlay{
    opacity:1;
}
.long_post_part.image_giphy .gif_play_button{
    display:none;
}

#upload_post_loader_layer{
  background-color:rgba(0,0,0,0.8);
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  z-index:3000;
  display:none;
}
#upload_post_loader{
  position:fixed;
  width:500px;
  left:calc(50% - 250px);
  height: 100px;
  top: calc(50% - 50px);  
  z-index:4000;
  display:none;
}
#upload_post_loader img{
  width: 104px;
  top: 24px;
  position: relative;
  margin-right: 15px;
}
#upload_post_loader span{
  font-size: 45px;
  color: white;
  font-family: "Proxima Nova Regular","Segoe UI",Roboto,"Droid Sans","Helvetica Neue",Arial,sans-serif;
}