#left_menu{
    width: 20%;
    float: left;
    min-width: 220px;
}
#left_menu .menu{
    font-size: 1.5em;
    cursor: pointer;
    margin: 11px;
    color: #137AC8;
    text-decoration: none;
    display: block;
    font-family: "Proxima Nova Regular","Segoe UI",Roboto,"Droid Sans","Helvetica Neue",Arial,sans-serif;
}
@media (max-width: 1130px)  {
    #left_menu{
        width: 100%;
    }
    #left_menu .menu{
        display: inline-block;
    }
}
@media (min-width: 1130px) and (max-width:1230px){
    #left_menu{
        position: relative;

    }
}
@media (min-width: 1230px) and (max-width:1300px){
    #left_menu{
        min-width: 210px;
        width: 16%;
        left:-10px;
    }
    #left_menu .menu{
        font-size: 1.3em;
    }
}