div.post{
    border-bottom: 1px solid #DAE1E8;
    margin-bottom: 30px;
    min-height: 100px;
    overflow: hidden;
    max-width: 800px;
}
div.post div.post_rating{
    position: relative;
    display: inline-block;
    vertical-align: top;
}
div.post div.post_rating span.upvote,span.downvote{
    top: -10px;
    height: 17px;
    padding-top: 4px; 
}
div.post div.post_rating .upvote{
    display: inline-block;
    margin: 5px;
    background-color: white;
    padding: 5px;
    text-decoration: underline;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.5;
}
div.post div.post_rating .downvote{
    display: inline-block;
    margin: 10px;
    padding: 5px;
    text-decoration: underline;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0.5;
}
div.post_data .title{
    color:dimgray;
    position: relative;
    top: -5px;
}
div.post_data{
    position: relative;
}
div.post_data .title a{
    text-decoration: none;
    font-size: 13px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#217CB6;
    font-weight: bold;
}
div.post_info{
    height: 40px;
}
div.post_info img{
    width: 40px;
    float: left;
    padding-right: 5px;
}
div.post_info .save_button{
    background-image: url("/images/icons/save.png");
    width: 20px;
    height: 20px;
    background-size: cover;
    display: inline-block;
    float: right;
    opacity: 0.2;
    cursor: pointer;
}
div.post_info .saved{
    opacity: 1;
}
div.post_info .author{
    position: relative;
    top: -2px;
    font-size: 17px;
    text-decoration: none;
    color: rgb(51, 51, 51);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    display: inline-block;
}
div.post_info .author:hover{
    text-decoration: underline;
}
.post .tags{
    margin: 5px 0;
}
.post .tags a{
    color: #3096BB !important;
    margin-right: 2px;
    font-size: 1.3em;
    display: inline-block;
    padding: 2px 8px;
    border-radius: 8px;
}
.post .show_full_button{
    position: absolute;
    top: 928px;
    display: block;
    width: 100%;
    left: -2px;
    text-align: center;
    font-size: 24px;
    background-color: rgb(58, 111, 171);
    color: white;
    cursor: pointer;
    padding: 5px 0px;
}

div.post div.description{
    background-color: RGBA(255, 255, 255, 0.48);
    font-size: 1.1em;
    margin-top: 7px;
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
    padding-bottom: 4px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
div.post div.description:empty{
    display: none;
}
div.post .upvoted .upvote{
    background-color: #61EA46 !important;
}
div.post .upvoted .downvote{
    background-color: white;
}
div.post .downvoted .upvote{
    background-color: white;
}
div.post .downvoted .downvote{
    background-color: #80EFFC !important;
}
div.post div.post_data{
    overflow: hidden;
    display: inline-block;
    width: 100%;
}
.post .post_data .post_container{
    max-height: 965px;
    overflow: hidden;
    width: 100%;
    position: relative;
}
#post_pc_view .post_container{
    max-height: 10000px;
}
#post_pc_view .show_full_button{
    display: none;
}
div.post div.post_data .post_text{
    line-height: 25px;
    margin-bottom: 10px;
    margin-top: 2px;
    overflow: hidden;
    font-family: Helvetica,Georgia,tahoma,arial,verdana,Lucida Sans,sans-serif;
    font-size: 17px;
    padding: 4px 4px 4px 5px;
}
div.post div.post_data .post_complex_text{
    line-height: 25px;
    margin-bottom: 10px;
    margin-top: 2px;
    overflow: hidden;
    font-family: Helvetica,Georgia,tahoma,arial,verdana,Lucida Sans,sans-serif;
    font-size: 17px;
    padding: 4px 4px 4px 5px;
    margin-left: -4px;
    position: relative;
    word-break:break-all;
}
.post_complex_text .image_container img{
}
.post_complex_text .long_post_part img{
    width:100%;
}
.post_complex_text .long_post_part.video{
    width: 99%;
    margin: 12px auto;
    height: 0px;
    padding-bottom: 56.25%;
    position: relative;
    overflow:hidden;
}
.post_complex_text .long_post_part.video .youtube_name,.post_complex_text .long_post_part.video .coub_name{
    font-family:'Roboto,Arial,Helvetica,sans-serif';
    color:white;
    position:absolute;
    top:10px;
    left:20px;
    font-weight: bold;
    font-size: 16px;
}
.post_complex_text .long_post_part.coub_video{
    padding-bottom: 41.4%;
    background-color: rgba(64,64,64,0.13);
}
.post_complex_text .long_post_part.video iframe{
    position: absolute;
}
.post_complex_text .long_post_part.video .youtube_image{
    width: 100%;
}
.post_complex_text .long_post_part.video .youtube_image2{
    margin: -10% 0;
}
.post_complex_text .long_post_part.video .youtube_play,.post_complex_text .long_post_part.video .coub_play{
    position:absolute;
    width:100px;
    left:calc(50% - 50px);
    top:calc(50% - 50px);
    cursor:pointer;
}
.post .image_container{
    overflow: hidden;
    display: inline-block;
    position: relative;
    width: 300px;
    float:left;
    margin: 3px;
}
.image_container_right{
    overflow: hidden;
    display: inline-block;
    position: relative;
    float:right;
    margin: 3px;
}
.image_container_center{
    display: block;
    text-align: left;
}
div.post div.post_data .post_complex_text .image_container img{
    max-height: 99%;
    max-width: 99%;
}
div.post div.post_data .post_image{
    overflow: hidden;
    margin-top:2px;
    position: relative;
}
div.post div.post_data .post_complex_text .image_container .gif_play_button{
    z-index: 300;
    cursor: pointer;
    opacity: 1;
    top: 50%;
    position: absolute;
    min-width: 50px;
    min-height: 50px;
    max-width: 150px;
    max-height: 150px;
    width: 10%;
    height: 10%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
div.post div.post_data .gif_play_button{
    width: 140px;
    position: absolute;
    top: calc(50% - 70px);
    left: calc(50% - 70px);
    z-index: 300;
    cursor: pointer;
    opacity:0.6 ;
}
div.post div.post_data  .gif_play_button:hover{
    opacity: 0.85;
}
div.post div.post_data .post_image img {
    width:100%;
}
div.post div.post_data .post_comments{
    margin-top: 9px;
    float: right;
}
div.post div.post_data  .post_comments a{
    color: #001EFF;
    cursor: pointer;
    display: inline-block;
    width: 66px;
    height: 22px;
    text-decoration: none;
    font-size: 1.2em;
    text-align: right;
    font-family: Helvetica;
}
div.post div.post_data  .post_comments a img{
    vertical-align: top;
    display: inline-block;
    margin-top: 4px;
    margin-left: 4px;
}
div.post div.post_video{
    width: 99%;
    margin: 12px auto;
    height: 0px;
    padding-bottom: 56.25%;
    position: relative;
}
div.post div.post_video iframe{
    width:100%;
    height: 100%;
    position: absolute;
}
.post .long_post_part{
    position: relative;
    overflow: hidden;
}
.share_buttons_list{
    overflow: hidden;
    display: inline-block;
    width: 54%;
    padding-left: 15px;
}
.share_buttons_list div,.share_buttons_list a{
    width: 36%;
    vertical-align: top;
}
.share_facebook_button{
    display: inline-block;
    color: #2447DD;
    margin-top: 2px;
    height: 29px;
    text-align: center;
    padding-top: 2px;
    font-size: 1.1em;
    cursor: pointer;
    padding-bottom: 4px;
}
.share_facebook_button span{
    position: relative;
    top: -7px;
}
.share_facebook_button img{
    left: -6px;
}
.share_buttons_list img{
    height: 28px;
}
.share_twitter_button{
    display: inline-block;
    margin-top: 2px;
    color: #2447DD;
    height: 29px;
    text-align: center;
    padding-top: 2px;
    font-size: 1.1em;
    cursor: pointer;
    padding-bottom: 4px;
    text-decoration: none;
}
.share_twitter_button span{
    position: relative;
    top: -7px;
}
.share_buttons{
    display: inline-block;
    position: relative;
    left:45%;
    display: none;
}
.share_button{
    position: relative;
    cursor: pointer;
    font-size: 1.3em;
    top: 2px;
    background-color: rgb(73, 143, 248);
    display: inline-block;
    text-align: center;
    color: white;
    width: 94px;
    border: 1px solid white;
    border-radius: 7px;
    margin-bottom: 5px;
}
#social_buttons_container{
    position: absolute;
    display: none;
    z-index: 1000;
    width: 134px;
    height: 128px;
    background-color: rgb(242, 240, 237);
    overflow: hidden;
}
#social_buttons_container img{
    width:20px;
    height: 20px;
    position: relative;
}
.repost_button{
    display: inline-block;
    margin-top: 5px;
    color: #2447DD;
    height: 29px;
    text-align: center;
    font-size: 1.1em;
    cursor: pointer;
    vertical-align: top;
}
.repost_button img{
    top: -1px;
    left: -8px;
    width: 25px;
}
.repost_button span{
    position: relative;
    top: -7px;
    left: -5px;
}
.repost{
    padding-left: 40px;
    border-bottom: 1px solid #000;
    margin-bottom: 30px;
    min-height: 100px;
    overflow: auto;
    max-width: 700px;
}
.repost .repost_info img{
    width: 40px;
    position: relative;
    left: -44px;
}
.repost .repost_info .author{
    position: relative;
    left: -42px;
    top: -26px;
    font-size: 17px;
    text-decoration: none;
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.repost .post{
    position: relative;
    top: -18px;
    border: none;
    margin-bottom: 5px;
}
#add_comment_respond_form{
    padding-left: 10px;
}
#add_comment_respond_form #comment_text_editable{
    display: none;
}
#add_comment_respond_form textarea{
    width: 550px;
    height: 70px;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 10px;
    font-size: 18px;
    color: black;
    background-color: white;
    overflow: hidden;
    resize:vertical;
}
#add_comment_respond_form #comment_text_editable .text span{
}
#add_comment_respond_form #comment_text_editable .quote{
    color: rgb(8, 0, 0);
    font-style: italic;
    background-color: rgb(230, 230, 141);
}
#add_comment_respond_form button{
    border: 1.5px solid rgba(0, 128, 0, 0.36);
    background-color: rgba(254, 254, 254, 0.2);
    padding: 5px 20px;
}
#add_comment_respond{
    margin-top: 10px;
}
#add_comment_respond .add_comment_respond_title{
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 5px;
    display: block;
    font-size: 16px;
}
#add_comment_respond .button{
    border: none;
    padding: 5px 20px;
    vertical-align: top;
    margin-top: 10px;
    cursor: pointer;
    margin-right: 25px;
    background-color: rgb(62, 116, 210);
    color: white;
    border-radius: 7px;
}
#add_subcomment_image_button{
    background-color: rgb(16, 170, 29) !important; 
} 
.post_addition_image{
    position: relative;
}
.text_overlay{
    position: absolute;
    color: white;
    display: block;
    text-align: center;
    bottom: 10px;
    margin: 0px auto;
    min-height:45px;
    word-wrap: break-word;
    display: inline-block;
    max-width: 90%;
    min-width: 200px;
}
.text_overlay.top{
    bottom:auto;
    top:20px;
}