div.post{
    border-bottom: 1px solid #DAE1E8;
    margin-bottom: 30px;
    min-height: 100px;
    overflow: hidden;
    position: relative;
}
div.post_rating{
    position: relative;
    display: inline-block;
    vertical-align: top;
}
#mainbody .post_data .post_container{
    overflow: hidden;
    margin-bottom: 12px;
    max-height: 710px;
    position: relative;
}
.show_full_button{
    position: absolute;
    top:676px;
    width: 100%;
    left: -6px;
    text-align: center;
    font-size: 24px;
    background-color: rgb(58, 111, 171);
    color: white;
    cursor: pointer;
    padding: 5px 0px;
}
#post_view_div .show_full_button{
    display: none;
}
div.post_rating span.upvote,span.downvote{
    top: -10px;
    height: 17px;
    padding-top: 4px;
}
div.post_rating .upvote{
    display: inline-block;
    background-color: white;
    padding: 5px;
    text-decoration: underline;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.5;
    font-size: 19px;
    margin: 5px;
    margin-right: 0;
}
div.post_rating .downvote{
    display: inline-block;
    padding: 5px;
    text-decoration: underline;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0.5;
}
.title{

    color:dimgray;
    position: relative;
    top: -5px;
}
.title a{
    text-decoration: none;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#217CB6;
    font-weight: bold;
}
div.post_info{
    height: 40px;
}
div.post_info img{
    width: 40px;
    float: left;
}
div.post_info .save_button{
    background-image: url("http://exifeed.com/images/icons/save.png");
    width: 20px;
    height: 20px;
    background-size: cover;
    display: inline-block;
    float: right;
    opacity: 0.2;
    cursor: pointer;
}
div.post_info .saved{
    opacity: 1;
}
div.post_info .author{
    position: relative;
    top: -2px;
    font-size: 17px;
    text-decoration: none;
    color: rgb(51, 51, 51);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    display: inline-block;
}

div.post_info .author:hover{
    text-decoration: underline;
}

.tags{
    margin: 5px 0;
}
.tags a{
    color: #3096BB !important;
    margin-right: 2px;
    font-size: 1.3em;
    display: inline-block;
    padding: 2px 8px;
    border-radius: 8px;
}
div.description{
    background-color: RGBA(255, 255, 255, 0.48);
    font-size: 1.1em;
    margin-top: 7px;
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
    padding-bottom: 4px;
}
div.description:empty{
    display: none;
}
.upvoted .upvote{
    background-color: #61EA46 !important;

}
.upvoted .downvote{
    background-color: white;
}

.downvoted .upvote{
    background-color: white;
}
.downvoted .downvote{
    background-color: #80EFFC !important;
}
div.post_data{
    overflow: hidden;
    display: inline;
}

.post_text{
    line-height: 25px;
    margin-bottom: 10px;
    margin-top: 2px;
    overflow: hidden;
    font-family: Helvetica,Georgia,tahoma,arial,verdana,Lucida Sans,sans-serif;
    font-size: 17px;
    padding: 4px 4px 4px 5px;
}
.post_complex_text{
    line-height: 25px;
    margin-bottom: 10px;
    margin-top: 2px;
    overflow: hidden;
    font-family: Helvetica,Georgia,tahoma,arial,verdana,Lucida Sans,sans-serif;
    font-size: 17px;
    padding: 4px 4px 4px 5px;
    margin-left: -4px;
    position: relative;
    word-break:break-all;
}
.long_post_part.image{
    position: relative;
}
.image_container img{
    width: 100%;
    height: 100%;
}
.image_container{
    overflow: hidden;
    display: inline-block;
    position: relative;
    width: 300px;
    float:left;
    margin: 3px;
}
.image_container_right{
    overflow: hidden;
    display: inline-block;
    position: relative;
    float:right;
    margin: 3px;
}
.image_container_center{
    display: block;
    text-align: left;
}
img{
    max-height: 99%;
    max-width: 99%;
}
.coub_video img.coub_image{
    max-height: none;
    max-width: none;
}
.post_image{
    overflow: hidden;
    margin-top:2px;
    position: relative;
}
.gif_play_button{
    width: 140px;
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    z-index: 300;
    cursor: pointer;
    opacity:0.6 ;
}
.gif_video{
    width: 100%;
}
 .gif_play_button:hover{
    opacity: 0.85;
}
.post_image img {
    width:100%;
}
.post_comments{
    margin-top: 9px;
    float: right;
}
 .post_comments a{
    color: #001EFF;
    cursor: pointer;
    display: inline-block;
    width: 66px;
    height: 22px;
    text-decoration: none;
    font-size: 1.2em;
    text-align: right;
    font-family: Helvetica;
}
 .post_comments a img{
    vertical-align: top;
    display: inline-block;
    margin-top: 4px;
    margin-left: 4px;
}
div.post_video{
    width: 99%;
    margin: 12px auto;
    height: 0px;
    padding-bottom: 56.25%;
    position: relative;
}
.coub_video{
    padding-bottom: 0 !important;
    height: auto !important;
    background-color: rgba(64,64,64,0.13);
}
div.post_video iframe{
    width:100%;
    height: 100%;
    position: absolute;
}
.long_post_part img{
    width:100%;
}
.long_post_part.video{
    width: 99%;
    margin: 12px auto;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    overflow: hidden;
}
.long_post_part.video .youtube_name,.long_post_part.video .coub_name{
    font-family:'Roboto,Arial,Helvetica,sans-serif';
    color:white;
    position:absolute;
    top:10px;
    left:20px;
    font-weight: bold;
    font-size: 16px;
}
.long_post_part.video iframe{
    position: absolute;
}
.long_post_part.video .youtube_image{
    width: 100%;
    max-height:none;
}
.long_post_part.video .youtube_image2{
    margin: -10% 0;
}
 .long_post_part.video .youtube_play,.long_post_part.video .coub_play{
    position:absolute;
    width:100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
}
.mobile_share{
    display: inline-block;
    margin-top: 4px;
    margin-left: 45px;
}
.mobile_share img{
    width: 30px;
}
.mobile_share span{
    position: relative;
    top: -6px;
    font-size: 20px;
}
.share_buttons_list_mobile{
    overflow: hidden;
    display: none;
    position: fixed;
    width: 80%;
    left:10%;
    height: 376px;
    top:calc(50% - 180px);
    z-index: 1200;
    background-color: white;


}

.share_buttons_list_mobile .share_button_mobile{
    display: block;
    border-bottom: 1px solid black;
    height: 60px;
    overflow: hidden;
    margin: 15px;
    text-decoration: none;
}
.share_buttons_list_mobile .share_button_mobile img{
    width: 50px;
    height: 50px;
}
.share_buttons_list_mobile .share_button_mobile span{
    font-size: 28px;
    position: relative;
    top:-20%;

}
.repost{
    padding-left: 40px;
    border-bottom: 1px solid #000;
    margin-bottom: 30px;
    min-height: 100px;
    overflow: auto;
    max-width: 700px;
}
.repost .repost_info img{
    width: 40px;
    position: relative;
    left: -44px;
}
.repost .repost_info .author{
    position: relative;
    left: -42px;
    top: -26px;
    font-size: 17px;
    text-decoration: none;
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.repost .post{
    position: relative;
    top: -18px;
    border: none;
    margin-bottom: 5px;
}
#add_comment_respond_form{

}
#add_comment_respond_form textarea{
    width: 450px;
    height: 70px;
}
#add_comment_respond .button{
    border: none;
    padding: 5px 12px;
    vertical-align: top;
    margin-top: 10px;
    cursor: pointer;
    margin-right: 25px;
    background-color: rgb(62, 116, 210);
    color: white;
    border-radius: 7px;
}
#add_subcomment_image_button{
    background-color: rgb(16, 170, 29) !important; 
} 
.post_addition_image{
    position: relative;
}
.text_overlay{
    position: absolute;
    color: white;
    display: block;
    text-align: center;
    bottom: 10px;
    background-color: rgba(0, 0, 0, 0.23);
    margin: 0px auto;
    min-height:45px;
    word-wrap: break-word;
    display: inline-block;
    max-width: 90%;
}