#search_page_form{
    height: 100px;
    background-color: rgb(228, 231, 231);
    margin-bottom: 15px;
}
#search_page_form form{
    position: relative;
    top: 19%;
}
#search_page_form form .text{
    height: 28px;
    width: 60%;
    margin-left:7%;
}
#search_page_form form button{
    height: 35px;
    width: 6%;
    min-width: 50px;
}
#mainbody{
    top:50px;
}
.user_search_item{
    margin-bottom: 20px;
}
.user_search_item a{
    color: #333;
}
.user_search_item a span{
    position: relative;
    font-size: 1.5em;
    left: 5px;
}
.user_search_item a img{
    float: left;
    width: 30px;
}