 #settings_header{
    margin-bottom: 15px;
    font-size: 18px;
    display: block;
}

#settings #user_data_form{
    display: inline-block;
    width: 45%;
}
#user_data_form  input{
    margin-left: 10px;
}
#user_data_form form button{
    border: medium none;
    background-color: rgb(39, 135, 230);
    color: white;
    width: 90px;
    height: 25px;
    border-radius: 6px;
    font-size: 17px;
    margin-top: 20px;
    cursor: pointer;
}
#user_data_form .username .error{
    display: block;
    font-size: 16px;
    font-family: Tahoma;
    margin-top:5px;
}
 #user_data_form .username .error:empty{
     display: none;
 }
#settings #user_image_form{
    display: inline-block;
    float: right;
    width: 50%;
    margin-bottom: 20px;
}
#settings #user_image_form img{
    float: left;
    width:40%;
}
#settings #user_image_form #change_image_button{
    margin-left: 10px;
    background-color: rgb(45, 195, 45);
    border: medium none;
    height: 30px;
    color: white;
    border-radius: 9px;
    cursor: pointer;
    margin-bottom: 20px;
}
#settings #user_image_form #delete_image_button{
    margin-left: 10px;
    background-color: rgb(195, 27, 66);
    border: medium none;
    height: 30px;
    color: white;
    border-radius: 9px;
    cursor: pointer;
}

#settings #change_password{
    margin-top: 30px;
    font-family: arial;
    overflow: hidden;
    width: 98%;
    padding: 10px;
    border-top: 1px solid rgb(180, 180, 180);
}
#change_password .head{
    text-align: center;
    margin-left: 5%;
    font-size: 1.1em;
}
#settings #change_password .label{
    width: 200px;
    display: inline-block;
}
#settings #change_password input{

}
#settings #change_password .error{
    color: red;
}
#settings #change_password .success{
    color:green;
}
#save_password_button{
    width: 50%;
    background-color: #287EBF;
    color: white;
    border-radius: 6px;
    border: none;
    height: 30px;
    font-size: 1.2em;
    margin-left: 2%;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-top: 15px;
}
.custom_checkbox.no{
    display: inline-block;
    width: 45px;
    height: 24px;
    background-color: rgb(216, 216, 216);
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.custom_checkbox.yes{
    display: inline-block;
    width: 45px;
    height: 24px;
    background-color: rgb(68, 203, 68);
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}
.custom_checkbox.no .circle{
    display: inline-block;
    width: 22px;
    height: 22px;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    left: 1px;
    z-index: 500;
    top: 1px;
}
 .custom_checkbox.yes .circle{
     display: inline-block;
     width: 22px;
     height: 22px;
     position: absolute;
     background-color: white;
     border-radius: 10px;
     left: 22px;
     z-index: 500;
     top: 1px;
 }
 .user_settings{
     margin-top: 20px;
     width: 95%;
 }
 .user_settings .label{
     font-size: 20px;
     vertical-align: top;
     display: inline-block;
     max-width: 150px;
 }
 .user_settings .custom_checkbox{
     vertical-align: top;
     float: right;
 }