body{
    overflow-x: hidden;
    
}
*{
    word-break: break-word;
}
#layer,#layer2{
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
    position: fixed;
    z-index:800;
    top: 0;
    left: 0;
    display: none;
}
#layer2{
    z-index:2000; 
}
h1{
    margin: 0;
 }
 input,textarea{
    color: black;
    background-color: white;
 }
 input[type="text"]{
    border: 1px solid #9b9b9b;
 }
video{
    max-width:100%;
    
}
video.gif_video{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10000;
    left: 0;
    top:0;
}
#image_view{
    position: fixed;
    z-index: 2000;
    margin: auto;
    text-align: center;
    display: none;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 20px;
    background-color: white;
}
#image_view img{
    max-width: 80vw;
    max-height: 80vh;
}
#post_pc_view{
    position: fixed;
    background-color: white;
    width:60%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    max-width: 800px;
    height: 94%;
    top:0;
    overflow-y:auto;
    z-index: 1000;
    display: none;
    padding:30px;
}
#post_pc_view .post::-webkit-scrollbar{
    display: none;
}
#post_pc_view .post{
    overflow: auto;
}
#post_pc_view .post .post_comments{
    display: none;
}
#post_pc_view .post_data{
    border-bottom: 1px solid #DAE1E8;
}
#add_image_popup{
    display:none;
    position:fixed;
    width:800px;
    min-height:400px;
    background-color:white;
    z-index:4000;
    left:calc(50% - 400px);
    top:100px;
}
#add_image_popup #image_popup_buttons{
    height:80px;
    text-align:center;
}
#add_image_popup #image_popup_buttons #upload_image_popup{
    background-image: url('/images/icons/image_up.png');
    height: 51px;
    width: 173px;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position: 10px 7px;
    padding: 10px;
    padding-left: 55px;
    background-color: #1997d0;
    border: 1px solid black;
    border-radius: 19px;
    font-size: 16px;
    margin: 20px;
    color: white;
    cursor:pointer;
}
#add_image_popup #image_popup_buttons #load_from_giphy{
    background-image: url(http://giphy.com/static/img/giphy_logo_square_social.png);
    height: 51px;
    width: 233px;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position: 10px 7px;
    padding: 10px;
    padding-left: 55px;
    background-color: rgba(255, 0, 0, 0);
    border: 1px solid #000000;
    border-radius: 19px;
    font-size: 16px;
    margin: 20px;
    /* font-weight: bold; */
    color: #000000;
    cursor: pointer;
}
#add_image_popup #giphy_images{
    text-align:center;
}
#add_image_popup #giphy_images input{
    width: 250px;
    height: 35px;
    border-radius: 10px;
    font-size: 17px;
    padding-left: 10px;
}
#add_image_popup #giphy_images button{
    height: 40px;
    padding: 0px 10px;
    vertical-align: top;
}
#add_image_popup #giphy_images_blok{
    max-height:calc(100vh - 230px);
    overflow-y:scroll;
}
#add_image_popup .giphy_video{
    height:200px;
    margin:10px;
}
#container{
    width:80%;
    max-width: 1200px;
    min-width: 720px;
    margin:75px auto;
    position: relative;
    left:-100px;
}
#quotes{
    position: absolute;
    display: none;
    width:20px;
    height: 20px;
    z-index: 1000;
    cursor: pointer;
}
#mainbody {
    position: relative;
    display: inline-block;
    min-width: 650px;
    width: 48.5%;
    overflow: hidden;
    border-color: rgba(100, 100, 100, 0.08) rgba(100, 100, 100, 0.1);
    border-left: 1px solid rgba(100, 100, 100, 0.1);
    padding-left: 1%;
    border-right: 1px solid rgba(100, 100, 100, 0.1);
    padding-right: 1%;
    max-width: 700px;
    left:-100px;
}
#additional_posts{
  margin-top:100px;
}
.sign_in_window #form_container{
    position: relative;
    width: 800px;
    background-color: #FFF;
    margin: 50px auto;
}
#login_form form {
    width: 100%;
}

.close_button{
    float: right;
    cursor: pointer;
    color: #FFF;
    font-size: 34px;
    font-weight: bold;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("/images/icons/Cancel.png");
    background-size: cover;
    opacity: 0.4;
}
.close_button:hover{
    opacity: 1;
}
#login_form {
    width: 300px;
    padding: 5px;
    display: inline-block;
    overflow: hidden;
    margin-top: 40px;
    vertical-align: top;
}
#login_form input {
    height: 33px;
    margin: 10px;
    width: 250px;
    font-size: 1.2em;
    border: 1px solid rgba(158, 158, 158, 0.68);
    padding-left:10px;
}
#login_form input:focus{
     box-shadow: 0px 0px 0px 1px #004bff;
}
.captcha{
    padding-left:11px;
    font-size:18px;
}
.captcha input{
    margin-left:0 !important;
}
.header_button{
    display: inline-block;
    position: relative;
    cursor: pointer;
    border-radius: 16px;
    margin-right: 20px;
    float: right;
    text-decoration: none;
    color: rgb(71, 71, 71);
    margin-top: 14px;
    text-transform: uppercase;
    font: 16px "Fakt",AvenirNext-Medium,"Segoe UI",sans-serif;
    color: white;
}
#header .settings_link{
    display: none;
    position: absolute;
    left:0;
    top:20px;
}
#header .my_link:hover .settings_link{
    display: block;
}
#login_form .button {
    width: 86%;
    background-color: #287EBF;
    color: #FFF;
    border-radius: 6px;
    border: medium none;
    height: 28px;
    font-size: 1.2em;
    margin-left: 4%;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    padding-top: 4px;
}
.error{
    text-align: center;
    color: red;
    display: none;
    font-size: 1.3em;
}
#login_form .sign_in{
    display: block;
    height: 20px;
    text-align: center;
    margin-top: 10px;
    text-decoration: underline;
    color: blue;
    font-size: 1.2em;
    cursor: pointer;
}
.sign_in_window{
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 9999;
    outline: 0px none;
    display: none;
}
.sign_in_window .sign_in_form{
    width: 400px;
    overflow: hidden;
    display: inline-block;
}
.sign_in_window .sign_in_form form{
    display: inline-block;
    width: 300px;
    margin-left: 50px;
}
.sign_in_window .sign_in_form .social_buttons{
    display: inline-block;
    vertical-align: top;
    margin-top: 50px;
}
.sign_in_window .sign_in_form form input{
    width: 250px;
    height: 33px;
    margin: 10px;
    font-size: 1.2em;
    padding: 3px;
    padding-left: 7px;
    border: 1px solid rgba(158, 158, 158, 0.68);
}
.sign_in_window .sign_in_form form input:focus{
    box-shadow: 0px 0px 0px 1px #004bff;
}
.sign_in_window .sign_in_form form .button{
    float: right;
    margin-right: 34px;
    width: 180px;
    background-color: #287EBF;
    border: medium none;
    height: 32px;
    border-radius: 7px;
    text-align: center;
    padding-top: 9px;
    font-size: 1.3em;
    color: #FFF;
    cursor: pointer;
}
.sign_in_window .social_buttons{
    margin-top: 20px;
    margin-left: 12px;
}
.sign_in_window .social_buttons .facebook_link{
    background-color: #41569B;
    display: block;
    width: 258px;
    text-align: center;
    padding-top: 8px;
    height: 39px;
    text-decoration: none;
    color: #FFF;
    font-size: 1.35em;
    margin-top: 15px;
    border-radius: 4px;
}
.sign_in_window .social_buttons .twitter_link{
    background-color: #54D4FB;
    display: block;
    width: 258px;
    text-align: center;
    padding-top: 8px;
    height: 39px;
    text-decoration: none;
    color: #FFF;
    margin-top: 15px;
    border-radius: 4px;
    font-size: 1.35em;
}
.sign_in_window .social_buttons a img,#user_profile_block .social_buttons a img{
    width: 35px;
    float: left;
    margin-left: 5px;
    padding-bottom: 8px;
    position: relative;
    top: -4px;
}
.sign_in_window .sign_in_form .register_title{
    margin-left: 60px;
    margin-top: 50px;
    width: 250px;
    font-size: 1.5em;
}
.sign_in_window #login_form .login_title{
    width: 280px;
    font-size: 1.5em;
    margin-bottom: 10px;
}
#user_profile_block .social_buttons .facebook_link{
    background-color: #41569B;
    display: block;
    width: 223px;
    text-align: center;
    padding-top: 8px;
    height: 39px;
    text-decoration: none;
    color: #FFF;
    font-size: 1.2em;
    margin-top: 15px;
    border-radius: 4px;
    position:relative;
    left:-50px;
}
#user_profile_block .social_buttons .twitter_link{
    background-color: #54D4FB;
    display: block;
    width: 223px;
    text-align: center;
    padding-top: 8px;
    height: 39px;
    text-decoration: none;
    color: #FFF;
    margin-top: 15px;
    border-radius: 4px;
    font-size: 1.2em;
    position:relative;
    left:-50px;
}
#logout_form{
    float: right;
    padding: 5px;
    margin-top: 15px;
    font-size: 1.2em;
    margin-bottom: 40px;
    border: 1px solid #000;
    border-radius: 7px;
    min-width: 120px;
}
#logout_form a{
    float: left;
    font-family: Georgia,tahoma,arial,verdana,sans-serif,Lucida Sans;
    text-decoration: none;
    font-size: 1.2em;
    margin-bottom: 5px;
    background-size: 20px 20px;
    background-position: 0px 3px;
    background-repeat: no-repeat;
}
#logout_form a.settings{
    background-image: url('/images/icons/settings.png');
}
#logout_form a.logout{
    background-image: url('/images/icons/logout.png');
}
#logout_form a span{
    margin-left: 25px;
    color: #5792EC;
}
#recent_posts{
}
#recent_posts .section_title{
    font-size: 29px;
    text-align: center;
    margin-bottom: 25px;
    color: #77A4D7;
    font-family: "proxima-nova-1","proxima-nova-2",arial,helvetica,sans-serif;
    font-weight: 600;
}
#content .top_title{
    font-size: 29px;
    text-align: center;
    margin-bottom: 25px;
    color: #77A4D7; 
    font-family: "proxima-nova-1","proxima-nova-2",arial,helvetica,sans-serif;
    font-weight: 600;
}
.input {
    margin-bottom: 20px;
}
.input input {
    width: 40%;
}
.input textarea {
    width: 60%;
}

#login_mobile_form{
    display: none;
}
#left {
    position: fixed;
    float: left;
    height: 100%;
    top: 0%;
    left:0;
    background-color: #EDEBE3;
    width: 60px;
    cursor:pointer;
}
#right {
    display: inline-block;
    vertical-align: top;
}
#right #popular_tags{
    display: inline-block;
    width: 250px;
    background-color: rgb(248, 248, 248);
    padding-left: 15px;
    position: relative;
    left:-100px;
}
#right #popular_tags div{
    font-size: 17px;
    text-align: center;
    margin-bottom: 6px;
    color: #4782ED;
    font-family: Verdana;
}
#right #popular_tags a{
    color:#3096BB ;
    text-decoration: none;
    margin-bottom: 8px;
    font-size: 16px;
    display: inline-block;
}
#message_notification{
    position: fixed;
    bottom: 10px;
    right: 50px;
    width: 350px;
    height: 375px;
    overflow-y: auto;
    border: 1px solid rgba(74, 74, 74, 0.58);
    z-index: 600;
    padding-top: 1px;
    border-top: none;
}
#message_notification_title{
    position: fixed;
    bottom: 430px;
    width: 347px;
    right: 50px;
    z-index: 1399;
    padding: 3px 0px 5px 5px;
    color: white;
    background-color: #399ce3;
    font-size: 18px;
    font-family: "Helvetica";
}
#message_notification .notifications_menu{
    height: 40px;
    background-color: rgb(249, 249, 249);
    border-bottom: 1px solid rgba(0, 0, 0, 0.29);
    position: absolute;
    width: calc(100% - 1px);
    top: 30px;
    left: 0;
    border-right: 1px solid black;
}
#message_notification .notifications_menu .menu{
    display: inline-block;
    width: 49%;
    text-align: center;
    height: 28px;
    color: cornflowerblue;
    font-family: Helvetica;
    font-size:15px;
    padding-top: 12px;
    cursor: pointer;
}
#message_notification .notifications_menu .menu.selected{
    background-color: rgba(42, 97, 154, 0.9);
    color: white;
    cursor: default;
}
#message_notification .notification_comment{
    border-bottom: 1px solid grey;
    padding: 8px;
}
#message_notification .notification_comment.has_parent{
    padding-left: 15px;
    padding-top: 2px;
}
#message_notification .notification_parent_comment{
    padding-left:8px;
    background-color: rgba(208, 208, 208, 0.38);
        overflow: hidden;
    max-height: 50px;
}
#message_notification .gif_play_button{
    max-width: 50px;
    position: absolute;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
}
#message_notification .comment_author{
    color: rgb(139, 139, 242);
    font-family: Helvetica;
    font-size: 13px;
    padding-left: 3px;
    display: block;
    text-decoration: none;
}
#message_notification .comment_text{
     text-decoration: none;
     font-size: 15px;
     color: rgb(62, 84, 149);
     font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
 }
#message_notification .comment_image_container{
    position: relative;
}

#message_notification img{
    max-width: 99%;
    display: block;
}
#message_notification .notification_parent_comment img{
    max-height: 50px;   
}
#message_notification .notification_parent_comment .gif_play_button{
    display: none;
}
#message_notification .notification_parent_comment .comment_author{
    margin-bottom: 5px;
}
#footer {
    height: 100px;
    min-height: 100px;
    width: 100%;
}
@media(max-width: 1230px){
    #header{
        width:84%;
        left:-25px;
    }
    #container{
        width:86%;
        left:0;
    }
    #mainbody{
        margin-left: 79px;
        left:0;
        min-width: 600px;
    }
     #right #popular_tags{
        margin-left: 0;
        width:228px;
         left:0;
    }
    #right #popular_tags div{
        font-size: 15px;
    }
    #left{
        width:45px;
    }
    #message_notification_title,#message_notification{
        right:28px;
        width:250px;
    }
}
@media (min-width: 1130px) and (max-width:1300px){
    #mainbody{
        margin-left: 0;
        min-width: 550px;
        width: 46.5%;
        left:-50px;
    }
    #container{
        left: -30px;
        position: relative;
    }
    #message_notification_title,#message_notification{
        width:255px;
    }
    #right #popular_tags{
        margin-left: 0;
        left:-50px;
        width:200px;
    }
}
@media (min-width: 1300px) and (max-width:1600px){
    #mainbody{
        min-width: 600px;
        width: 47.5%;
    }
    #container {
        left: -60px;
    }
    #right #popular_tags{
        left:-90px;
        position: relative;
    }
}
.track3 {
    width: 10px;
    background: rgba(0, 0, 0, 0);
    margin-right: 2px;
    border-radius: 10px;
    -webkit-transition: background 250ms linear;
    transition: background 250ms linear;
}
.track3:hover,
.track3.dragging {
    background: #d9d9d9; /* Browsers without rgba support */
    background: rgba(0, 0, 0, 0.15);
}
.handle3 {
    width: 7px;
    right: 0;
    background: #999;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    -webkit-transition: width 250ms;
    transition: width 250ms;
}
.track3:hover .handle3,
.track3.dragging .handle3 {
    width: 10px;
}
#user_profile_block{
    width: 200px;
    color:green;
}
#user_profile_block a{
    color: rgb(7, 147, 29);
    text-decoration: none;
}
#user_profile_block .user_profile_image_container{
    float: left;
}
#user_profile_block .user_profile_image_container img{
    width: 60px;
    margin-right: 20px;
}
#user_profile_block .my_link{
    font-size: 22px;
    text-decoration: none;
    color: rgb(42, 204, 67);
}
#user_profile_block .my_link img{
    width: 30px;    
}
.gif_play_button2{
    width: 140px;
    position: absolute;
    top: calc(50% - 70px);
    left: calc(50% - 70px);
    z-index: 300;
    cursor: pointer;
    opacity: 0.4;
}