.tags_view{
    margin: 22px 5px;
    font-size: 2em;
}
.tags_view .title{
    margin-bottom: 6px;
    display: inline-block;
}
.tags_view .tag{
    color:#00ACED;
}
.tags_view .subscribe_tag{
    background-color: #1AA826;
    color: white;
    border: none;
    height: 40px;
    cursor: pointer;
    font-size: 0.5em;
    display: inline-block;
}
.tags_view .block_tag{
    background-color: #001EFF;
    color: white;
    border: none;
    height: 40px;
    cursor: pointer;
    margin-right: 30px;
    font-size: 0.5em;
    display: inline-block;
    position: relative;
    left: 30px;
}