.user_view{
    min-height: 130px;
    border-bottom: 1px solid #898787;
    margin-bottom: 50px;
    padding: 10px;
    max-width: 700px;
}
.user_view .left_column{
    float: left;
    width: 100px;
    text-align: center;
    margin-right: 20px;
}
.user_view .left_column img{
    width:100%;
}
.user_view .username{
    font-size: 22px;
    margin-left: 10px;
    font-family: Tahoma,Arial;
    display: block;
}
.user_view .left_column .subscribe_button{
    color: white;
    background-color: #0E67A8;
    padding: 5px;
    display: block;
    border-radius: 7px;
    cursor:pointer;
}
.user_view .left_column .unsubscribe_button{
    color: white;
    background-color: #2ca84c;
    padding: 5px;
    display: block;
    border-radius: 7px;
    cursor:pointer;
}
.user_view .user_info{
    font-size: 19px;
    font-family: Calibri, Arial;
}
.user_view .user_info span:last-child{
    display: block;
}