#user_ideas .title{
    margin-bottom: 15px;
    font-size: 1.2em;
}
#user_ideas #idea_add_form{
    overflow: hidden;
    min-height: 100px;
    max-width: 600px;
    margin-bottom: 50px;
}
#user_ideas #idea_add_form button{
    display: inline-block;
    height: 48px;
    width: 58px;
    margin-top: 2px;
    border: medium none;
    background: green none repeat scroll 0% 0%;
    color: white;
    border-radius: 9px;
    margin-left: 20px;
}
#user_ideas #idea_add_form textarea{
    float: left;
    width: 500px;
    padding: 6px;
    font-size: 1.1em;
    resize: vertical;
}
#user_ideas .user_idea{
    margin-bottom: 20px;
}
#user_ideas .user_idea span{
    border: 1px solid rgba(188, 188, 188, 0.7);
    width: 500px;
    display: inline-block;
    padding: 10px;
    float: left;
}
#user_ideas .user_idea button{
    display: inline-block;
    height: 40px;
    width: 40px;
    background: #008000 none repeat scroll 0% 0%;
    color: #FFF;
    border-radius: 9px;
    margin-left: 20px;
    margin-top: 0px;
    border: 1px solid #008000;
    vertical-align: top;
    font-size: 19px;
    cursor: pointer;
    padding-bottom: 3px;
}