#comments{
    margin-top: 40px;
    max-width: 700px;
    padding-bottom: 20px;
}
#mainbody{
    padding-left: 5px;
}
div.root_comment{
    margin-bottom: 10px;
    word-wrap: break-word;
    position: relative;
}
.comment_user_image{
    float:left;
    height: 50px;
    display: inline-block;
    width: 50px;
    overflow: hidden;
    position: absolute;
    top: 8px;
}
.comment_user_image img{
    width: 40px;
    height: 40px;
    display: inline-block;
}
.parent_comment_user_image{
    width: 50px;
}
div.comment{
    word-wrap: break-word;
    position: relative;
    transition: background-color 2s ease 0s;
    min-height: 49px;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.36);
}
.comment_container{
    margin-left: 45px;
    position: relative;
    top: -10px;
    width:82%;
}
.comment .comment_border{
    margin-top:9px;
}
.comment[level='2']{
}
.comment[level='4']{
    margin-left:0;
}
.comment_author span{
    color:#616060;
}
.comment_post_author{
    color: #2026a9 !important;
}
.comment_author{
    text-decoration: none;
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 1px;
}
.comment_add_date{
    opacity:0.5;
    font-size: 12px;
}
div.comment_text{
    color: #333;
    min-height: 20px;
    font-size: 17px;
    font-family: "Helvetica Neue",arial,sans-serif;
}
.comment_text a{
  color: #5190b8;
  font-family: Tahoma;
}
.comment_text img{
    max-width: 200px;
    max-height: 200px;
}
.comment_text:empty{
    height: 8px;
    min-height: 0;
}
.comment_image{
}
.comment .gif_play_button{
    width: 140px;
    position: absolute;
    top: calc(50% - 70px);
    left: calc(50% - 70px);
    z-index: 300;
    cursor: pointer;
    opacity:0.6 ;
}
.comment_buttons{
    margin-top: 3px;
    font-size: 0.7em;
    margin-bottom: 10px;
}
span.comment_respond{
    font-size: 12px;
    color:dodgerblue;
    float: right;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 5px;
}
span.comment_respond:hover{
    cursor: pointer;
}
#add_comment_div{
    margin-top: 30px;
}
#add_comment_div span{
    margin-bottom: 20px;
}
#add_comment_div form{
    margin-top:15px;
}
#add_comment_div textarea{
    width: 80%;
    height: 80px;
    border-radius: 5px;
    border: 1px solid #969696;
    padding: 4px;
    font-size: 16px;
}
#add_comment_div input{
}
#add_comment_div #submit_button{
    border: 1.5px solid rgba(0, 128, 0, 0.36);
    background-color: rgba(254, 254, 254, 0.2);
    padding: 5px 20px;
    vertical-align: top;
    margin-top: 10px;
    cursor: pointer;
}
#add_comment_div #load_image_button{
    border: 1.5px solid rgba(0, 128, 0, 0.36);
    background-color: rgba(254, 254, 254, 0.2);
    padding: 5px 20px;
    vertical-align: top;
    margin-top: 10px;
    cursor: pointer;
    margin-right: 25px;
}
#add_comment_div .warning{
    color: red;
    display: none;
}
.add_comment_respond{
}
.add_comment_respond textarea{
    width:30%;
    height: 100px;
}
.single_comment{
    margin-bottom: 20px;
    border-bottom: 1px solid grey;
}
.single_comment .comment_text{
    font-size: 1.5em;
}
.single_comment  img{
    max-width: 400px;
    max-height: 400px;
}
.single_comment .comment_link{
}
.single_comment .comment_link a{
    text-decoration: none;
    color: #E62213;
}
.single_comment .comment_image_container{
    display: inline-block;
    overflow: hidden;
    position: relative;
}
.comment_rating span{
    text-decoration: underline;
    cursor: pointer;
    margin-right: 10px;
}
.comment_buttons .upvote{
}
.comment_buttons span{
    border-radius: 5px;
}
.comment_buttons .upvoted .comment_upvote{
    /* background-color: #61EA46 !important;*/
    padding: 4px 6px;
}
.comment_buttons .downvoted .comment_downvote{
    background-color: #80EFFC !important;
    padding: 4px 6px;
}
.ajax_comment{
    background-color: lemonchiffon;
}
.comment_container .comment_image_container{
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 70%;
}
.comment_container .comment_image{
    width: 100%;
    min-width: 150px;
}
.parent_comment{
    display: block;
    min-width: 200px;
    background-color: rgba(208, 208, 208, 0.2);
}
.parent_comment .parent_comment_info{
    text-decoration: none;
    color: black;
}
.parent_comment_container{
    position: relative;
    max-height: 30px;
    overflow:hidden;
    font-style: italic;
    margin-bottom: 2px;
}
.parent_comment_container .parent_comment_image {
    max-height: 28px;
}
.comment_container .comment_image_container .gif_play_button,.parent_comment_container .gif_play_button,.single_comment .comment_image_container .gif_play_button{
    position: absolute;
    display: inline-block;
    width: 15%;
    max-width: 150px;
    min-width: 50px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    cursor: pointer;
}
.parent_comment_container .gif_play_button{
    display: none;
}
#add_comment_respond_form textarea{
    font-size: 22px;
    width:90%;
}
.parent_comment_user_image{
    width: 15px;
    height: 15px;
}
.has_parent .comment_user_image{
    top:53px; 
}
#add_comment_div .comment_image_preview_delete,#add_comment_respond .comment_image_preview_delete{
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    left: 184px;
    z-index: 200;
    background-size: cover;
    cursor: pointer;
    background-image: url('https://cdn3.iconfinder.com/data/icons/basic-flat-svg/512/svg18-512.png');
}