#settings #change_password {
    border-top: 1px solid rgb(180, 180, 180);
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
    font-family: arial;
}

#change_password .head {
    text-align: center;
    margin-left: 8%;
    font-size: 1.4em;
}

#settings #change_password .label {
    width: 200px;
    display: inline-block;
    font-size: 1.2em;
}

#settings #change_password input {
    height: 30px;
}

#settings #change_password .error {
    color: red;
}

#settings #change_password .success {
    color: green;
}

#save_password_button {
    width: 70%;
    background-color: #287EBF;
    color: white;
    border-radius: 6px;
    border: none;
    height: 50px;
    font-size: 1.6em;
    margin-left: 15%;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-top: 15px;
    padding-top: 15px;
}

#settings .ui-input-text {
    display: inline-block;
}

.custom_checkbox.no {
    display: inline-block;
    width: 40px;
    height: 19px;
    background-color: rgb(216, 216, 216);
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.custom_checkbox.yes {
    display: inline-block;
    width: 40px;
    height: 19px;
    background-color: rgb(68, 203, 68);
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.custom_checkbox.no .circle {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: absolute;
    background-color: #B0B0B0;
    border-radius: 10px;
    left: -1px;
    z-index: 500;
    top: -2px;
}

.custom_checkbox.yes .circle {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: absolute;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    left: 16px;
    z-index: 500;
    top: -2px;
}

#user_image_form img {
    float: left;
    width: 40%;
    margin-bottom: 15px;
}

#user_data_form {
    width: 100%;
    overflow: hidden;
    margin-top: 15px;
}
#user_data_form form button {
    border: medium none;
    background-color: rgb(39, 135, 230);
    color: white;
    width: 90px;
    height: 25px;
    border-radius: 6px;
    font-size: 17px;
    margin-top: 20px;
    cursor: pointer;
}
#user_image_form form button {
    display: block;
    margin-left: 30px;
    position: relative;
    left: 30px;
    margin-bottom: 20px;
    width: 120px;
    height: 40px;
    border: none;
    background-color: rgb(45, 195, 45);
    color: white;
}

#user_image_form form button:last-child {
    background-color: rgb(195, 27, 66);
}

#user_data_form .username {
    margin-bottom: 8px;
}

#user_data_form .username span {
    display: inline-block;
    margin-right: 10px;
    width: 120px;
}

#user_data_form .user_settings .label {
    display: inline-block;
    margin-right: 10px;
    width: 120px;
}