#left_menu{
    float: left;
    left: -150px;
    height: calc(100% - 55px);
    top:60px;
    background-color: #282829;
    background-color: #133960;
    width:150px;
    position: fixed;
    z-index: 100;
}
#left_menu .menu{
    float: none;
    display: block;
    font-size: 25px;
    margin: 10px;
    color: #FDFDFD;
    cursor: pointer;
    text-decoration: none;
    font-family: "Roboto";
}
#header{
    width:100%;
    background-color:rgba(108, 142, 201, 0.93);
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 200;
    left:0;
}
#header #show_header_mobile{
    display: inline;
    float: left;
    width: 58px;
    height: 50px;
    margin-left: 3px;
    margin-top: 4px;
}
#header #find_mobile{
    float: right;
    position: relative;
    top: 0%; 
    width: 42%;
    min-width: 100px;
    height: 90%;
}
#header #find_mobile #find_text{
    height: 32px;
    position: relative;
    top: 7px;
    width:calc(100% - 50px);
    border: none;
    background-color: white;
    border-radius: 14px;
    padding-left: 35px;
    font-size: 18px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;
}
#header #find_mobile #find_button{
    height: 35px;
    background: url("https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-128.png") no-repeat scroll 0% 0% / contain transparent;
    display: inline-block;
    width: 35px;
    position: absolute;
    top: 7px;
    cursor:pointer;
    z-index: 2000;
}



#header{

}
#header .header_button{
    display: none;
}