
.insert_form_item{
    margin-top:15px;
}

.insert_form_item input,textarea{
    margin-bottom: 30px;
    width:90%;
    height: 60px;
    font-size: 26px;
}
.insert_form_item textarea{
    height: 200px !important;
}
#post_type{
    border-bottom: 1px solid rgb(222, 222, 222);
    width: 90%;
    margin-left: 4%;
    display: none;
}
.post_type_item{
    display: inline-block;
    height: 40px;
    font-size: 20px;
    margin-right: 15px;
    cursor:pointer;
}
.post_type_item_selected{
    border-bottom: 2px solid green;
}
.post_type_container{
}
#complex_text{
    height: 447px;
    border: 1px solid rgba(0, 0, 0, 0.16);
    resize: vertical;
    overflow: auto;
    padding: 4px;
    word-break: break-all;
    padding-left: 15px;
    font-size: 25px;
}
#add_text_form{
    display: none;
    z-index: 400;
    width:500px;

}
#complex_form .image_file_input{
    display: none;
}
#complex_form form #complex_text img{
    display: block;
    margin: 0px auto;
    resize: none;
    max-width: 95%;
    max-height: 95%;
}
#insert_form button[type='submit']{
    background-color: #79C36C;
    box-shadow: 0px 2px 0px #49B736;
    border: medium none;
    font-size: 20px;
    border-radius: 10px;
    width: 100%;
    font-family: "Apercu Medium","Helvetica Neue",Helvetica,Arial,sans-serif;
    color:white;
    text-transform: uppercase;
    padding-top: 3px;
    cursor: pointer;

}
.error_message{
    color:red;
    font-size:20px;
}
.complex_item_link{
    display: none;
}
#long_post{

}
#long_post form{
    margin-bottom:20px;

    padding-bottom: 10px;
    padding-top: 15px;
    padding-left: 5px;
}
#long_post #long_post_empty{
    text-align: center;
    padding: 30px;

    font-size: 20px;

}
#long_post form .video{
    width: 99%;
    margin: 12px auto;
    height: 0px;
    padding-bottom: 56.25%;
    position: relative;
}
#long_post form .video .youtube_image{
    width: 100%;
}
#long_post form .video .youtube_name,#long_post form .video .coub_name{
    font-family:'Roboto,Arial,Helvetica,sans-serif';
    color:white;
    position:absolute;
    top:10px;
    left:20px;
    font-weight: bold;
    font-size: 16px;
}
#long_post form .video .youtube_play,#long_post form .video .coub_play{
    position:absolute;
    width:100px;
    left:calc(50% - 50px);
    top:calc(50% - 50px);
}
#long_post form .coub_video{
    padding-bottom: 41.25%;
    padding-top: 2px;
}
#long_post form .video iframe{
    position: absolute;
}
#long_post_buttons{
    text-align: center;
}
#long_post_buttons .long_post_button{
    display: inline-block;
    font-size: 22px;
    width: 110px;
    height: 36px;
    text-align: center;
    color: #FFF;
    padding-top: 12px;
    border-radius: 9px;
    padding-left: 46px;
    cursor: pointer;
    margin: 12px 20px 12px 0;
}
#long_post_buttons .add_text_button{
    background: rgb(102, 155, 200) none no-repeat scroll 1px 3px / 58px 42px;
    background-image: url('http://www.qcad.org/doc/qcad/3.4.5/reference/en/scripts/Modify/EditText/EditText.png');
}
#long_post_buttons .add_image_button{
    background: rgb(102, 155, 200) none no-repeat scroll 12px 8px / 30px 30px;
    background-image: url('http://icons.iconarchive.com/icons/dryicons/aesthetica-2/128/image-add-icon.png');
}
#long_post_buttons .add_video_button{
    background: rgb(102, 155, 200) none no-repeat scroll 12px 8px / 30px 30px;
    background-image: url('http://icons.iconarchive.com/icons/martz90/circle/512/video-camera-icon.png');
}
#long_post_text_form,#long_post_video_form{
    display: none;
}
#long_post_text_form #long_post_text{
    height: 80px;
    border: 1px solid rgba(120, 120, 120, 0.51);
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
    resize: vertical;
    overflow-y: auto;
}
#long_post_text_form #long_post_text p{
    margin: 0;
}
#long_post_text_form #add_text_long_post,#long_post_video_form #add_video_long_post{
    width: 130px;
    height: 30px;
    background-color: rgb(80, 255, 62);
    border: medium none;
    border-radius: 7px;
    margin-left: 5px;
    cursor:pointer;
}
#cke_long_post_text #cke_11,#cke_long_post_text #cke_17,#cke_long_post_text #cke_22{
    display: none;
}
#long_post .long_post_part{
    position: relative;
    margin-bottom: 10px;
    background:rgba(236, 236, 236, 0.35) none repeat scroll 0% 0%;
}
#long_post .long_post_part p{

}
#long_post .long_post_part .long_post_delete_button{
    display: inline-block;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 200;
    background-size:cover;
    cursor: pointer;
    background-image: url('https://cdn3.iconfinder.com/data/icons/basic-flat-svg/512/svg18-512.png');
}
.text_overlay{
    display:none;
}
.long_post_part.image_giphy .gif_play_button{
    display:none;
}