*{
    word-break: break-word;
}
body{
    overflow-x: hidden;
}
.ui-page{
    overflow: hidden;
}
#layer,#layer2{
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0;
}
#layer2{
    z-index:2000; 
    display:none;
}
h1{
    margin: 0;
 }
video{
    max-width:100%;
}
 .ui-input-text{
    display: inline-block;
 }
#footer {
    height: 100px;
    min-height: 100px;
    width: 100%;
}
.ui-loader{
    display: none;
}
#mainbody{
    margin-left: 0;
    left: 0;
    position: relative;
    top: 20px;
}
#add_image_popup{
    display:none;
    position:fixed;
    width:100%;
    height:100%;
    min-height:400px;
    background-color:white;
    z-index:4000;
    left:0;
    top:0;
}
#add_image_popup #image_popup_buttons{
    height:73px;
    overflow:hidden;
    text-align:center;
    margin-top:15px;
}
#add_image_popup #image_popup_buttons #upload_image_popup{
    background-image: url('/images/icons/image_up.png');
    height: 51px;
    width: 44%;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position: 10px 7px;
    padding: 10px;
    padding-left: 55px;
    background-color: #1997d0;
    border: 1px solid black;
    border-radius: 19px;
    font-size: 16px;
    margin: 5px;
    color: white;
    cursor: pointer;
}
#add_image_popup #image_popup_buttons #load_from_giphy{
    background-image: url(http://giphy.com/static/img/giphy_logo_square_social.png);
    height: 51px;
    width: 46%;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position: 10px 7px;
    padding: 10px;
    padding-left: 55px;
    background-color: rgba(255, 0, 0, 0);
    border: 1px solid #000000;
    border-radius: 19px;
    font-size: 16px;
    margin: 5px;
    color: #000000;
    cursor: pointer;
}
#add_image_popup #giphy_images{
    text-align:center;
}
#add_image_popup #giphy_images input{
    width: 250px;
    height: 35px;
    border-radius: 10px;
    font-size: 17px;
    padding-left: 10px;
}
#add_image_popup #giphy_images button{
    height: 40px;
    padding: 0px 10px;
    vertical-align: top;
}
#add_image_popup #giphy_images_blok{
    max-height: calc(100vh - 110px);
    overflow-y:scroll;
}
#add_image_popup .giphy_video_add{
    width:100%;
    height:30px;
    border-radius:5px;
    border:none;
    background-color:green;
    color:white;
    display:none;
    margin-bottom:20px;
}
#additional_posts{
  margin-top:100px;
}
#login_form{
    display: none;
}
#login_mobile_form{
    display: none;
    z-index: 900;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #2ca1cc;
    top: 0;
    left: 0;
    text-align: center;
    overflow-y: scroll;
    padding: 10px;
}
#login_mobile_form form{
    background-color: white;
    overflow: hidden;
    display: block;
    width: 90vw;
    top: calc(50vh - 225px);
    min-height:500px;
    position: relative;
    padding-top: 15px;
    font-family: 'Open Sans', sans-serif;
}
#login_mobile_form form span.label{
    font-size: 25px;
    margin-bottom: 10px;
    display: block;
    color: rgb(15, 34, 243);
}
#login_mobile_form form div.input{
    height: 52px;
    margin-bottom: 10px;
    overflow: hidden;
}
#login_mobile_form form div.input div{
    height: 100%;
    width:80%;
}
#login_mobile_form form div.input input{
    height: 65%;
    width: 80%;
    font-size: 22px;
    border: 1px solid #d9d9d9 !important;
    color: #5c5c5c;
    padding: 7px 0px 7px 5px;
    outline: none;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
}
#login_mobile_form form div.input input:focus{
    box-shadow: 0 0 5px rgba(48, 168, 218, 1);
    -webkit-box-shadow: 0 0 5px rgba(48, 168, 218, 1);
    -moz-box-shadow: 0 0 5px rgba(48, 168, 218, 1);
    border: 1px solid rgba(48, 168, 218, 1) !important;
}
#login_mobile_form form div.button{
    position: relative;
    top: 30px;
    width: 64%;
    left: 18%;
    height: 70px;
    background-color: rgb(51, 147, 51);
    color: #FFF;
    display: table;
    border-radius: 10px;
    font-size: 1.3em;
    border: 0px solid #b96529;
    border-radius: 8px;
    background: #992828;
    background: -webkit-gradient(linear, left top, left bottom, from(#e77e33), to(#e77e33));
    background: -moz-linear-gradient(top, #e77e33, #e77e33);
    background: linear-gradient(to bottom, #e77e33, #e77e33);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
}
#login_mobile_form form div.button span{
    display: table-cell;
    vertical-align: middle;
    font-size: 35px;
}
#login_mobile_form form .social_buttons{
    position: relative;
    top: 50px;
}
#login_mobile_form form .error{
    color: #F00;
    position: relative;
    font-size: 1.7em;
    display: none;
}
#login_mobile_form form .back{
    position: relative;
    top: 70px;
    color: black;
    display: block;
    font-size: 2.1em;
    text-decoration: underline;
}
 .social_buttons .facebook_link{
    background-color: #41569B;
    display: inline-block;
    width: 258px;
    text-align: center;
    padding-top: 8px;
    height: 39px;
    text-decoration: none;
    color: #FFF;
    font-size: 1.2em;
    margin-top: 15px;
    border-radius: 4px;
}
.social_buttons .twitter_link{
    background-color: #54D4FB;
    display: inline-block;
    width: 258px;
    text-align: center;
    padding-top: 8px;
    height: 39px;
    text-decoration: none;
    color: #FFF;
    margin-top: 15px;
    border-radius: 4px;
    font-size: 1.35em;
}
 .social_buttons a img{
    width: 35px;
    float: left;
    margin-left: 5px;
    padding-bottom: 8px;
    position: relative;
    top: -4px;
}
#registration_mobile_form{
    display: none;
    z-index: 900;
    position: fixed;
    width: 100%;
    min-height: 100%;
    background-color: #DCDCDC;
    background-image: url('http://p1.pichost.me/i/11/1337093.jpg');
    background-size: cover;
    top: 0;
    left: 0;
    text-align: center;
    padding-top: 4%;
    overflow-y: scroll;
}
#registration_mobile_form form{
    top: 50%;
    position: fixed;
    display: block;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width:100%;
    overflow-y:visible;
}
@media(max-height: 400px){
    #registration_mobile_form form{
        top: 4%;
        transform: none;
        -webkit-transform: none;
        overflow-y: scroll;
    }
}
#registration_mobile_form form .back{
    position: relative;
    top:20px;
}
#registration_mobile_form form span.label{
    font-size: 30px;
    margin-bottom: 10px;
    display: block;
    color: rgb(15, 34, 243);
}
#registration_mobile_form form div.input{
    height: 50px;
    margin-bottom: 30px;
}
#registration_mobile_form form div.input div{
    height: 100%;
}
#registration_mobile_form form div.input input{
    height: 100%;
    width: 75%;
    font-size: 26px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    background: #f8f8f8;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 16px;
}
#registration_mobile_form form .error{
    display: none;
    font-size: 28px;
    color:red;
}
#registration_mobile_form form div.button{
    position: relative;
    top: 24px;
    width: 70%;
    left: 15%;
    height: 50px;
    padding-top: 10px;
    background-color: rgb(51, 147, 51);
    color: #FFF;
    display: table;
    border-radius: 10px;
    font-size: 1.3em;
    margin-bottom: 25px;
}
#registration_mobile_form form div.button span{    
    font-size: 30px;
}
#recent_posts{
}
#recent_posts .section_title{
    font-size: 2em;
    text-align: center;
    margin-bottom: 25px;
    background-color: #E3E9EF;
    color: #586577;
    font-family: tahoma,arial,verdana,sans-serif,Lucida Sans;
}
#content .top_title{
    border-radius: 7px;
    font-size: 2em;
    text-align: center;
    margin-bottom: 25px;
    background-color: #E3E9EF;
    color:#C54848;
    font-family: tahoma,arial,verdana,sans-serif,Lucida Sans;
}
#post_view_div{
    position: fixed;
    left:100%;
    top:0;
    z-index: 600;
    height: 100%;
    width: 100%;
    background-color: white;
    overflow-y:scroll;
}
#post_view_div #back_button{
    position: absolute;
    bottom: 0px;
    height: 150px;
    width: 100%;
    border-top: 1px solid black;
    background:url("/images/icons/back_button.png");
    background-repeat: no-repeat;
    background-size: 150px 150px;
    display: none;
}
#post_view_div #post_view_container {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
@media (max-height: 450px){
    #login_mobile_form form{
        top:0;
    }
}
#menu_user_info{
    display: block;
    margin-left: 10px;
    margin-top: 5px;
    overflow: hidden;
    color: white;
}
#menu_user_info img{
    width:30%;
    float: left;
}
#menu_user_info span{
    position: relative;
    top:2px;
    left: 2px;
    font-size: 18px;
}
.gif_play_button2{
    width: 140px;
    position: absolute;
    top: calc(50% - 70px);
    left: calc(50% - 70px);
    z-index: 300;
    cursor: pointer;
    opacity: 0.4;
}