.user_view{
    min-height: 130px;
    border-bottom: 1px solid #898787;
    margin-bottom: 50px;
    padding: 10px;
    max-width: 700px;
    overflow: hidden;
}
.user_view .left_column{
    float: left;
    width: 20%;
    text-align: center;
    margin-right: 4%;
}
.user_view .left_column img{
    width:100%;

}
.user_view .user_info{
    display: inline-block;
    font-family: Calibri, Arial;
}
.user_view .user_info span{
    display: block;
}
.user_view .username{
    font-size: 24px;
    margin-left: 10px;
    color: #5A5A5A;
    font-family: Tahoma,Arial;
}
.user_view .left_column .subscribe_button{
    color: white;
    background-color: #0E67A8;
    padding: 5px;
    display: block;
    border-radius: 7px;
    cursor:pointer;
}
.user_view .left_column .unsubscribe_button{
    color: white;
    background-color: #2ca84c;
    padding: 5px;
    display: block;
    border-radius: 7px;
    cursor:pointer;
}